.header{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 8%;
}
.logo{
    display: flexbox;
    justify-content: space-between;
    width:50px;
}
.hero{
    background-image:url(brief1Photo/slide\ Image.jpg) ;
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1{
    font-size: 70px;
}
.container input{
    width: 500px;
    height: 60px;
    border-radius: 20px;
    padding-left: 20px;
}
::placeholder{
    font-size: 25px;

}
.button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#iconUser{
    width: 50px;
    height: 50px;
}
#PoweredLoge{
    width: 130px;
}
#ViatorLogo{
    width: 130px;
}
#SearchIcon{
   width: 13px;
}
.icons{
    width: 30px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.azert{
    width: 300px;
    gap: 100px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between; 
}
h2{
    display: flex;
    justify-content: center;
}

.login-section {
    text-align: center;
    margin: 40px 0;
}

.login-box {
    background-color: #f3e9f7;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.login-box a {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.login-btn {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.recommendation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;

}

.info-box {
    background-color: #eaf7f3;
    padding: 20px;
    border-radius: 10px;
}
@media (max-width: 768px){
    .hero-title{
        font-size: 24px;
    }

    .search-box{
        flex-direction: column;
        width: 100%;
    }

    .cards{
        flex-direction: column;
    }
}
